<center>
<a href="http://www.insa-toulouse.fr/" ><img src="http://www.math.univ-toulouse.fr/~besse/Wikistat/Images/logo-insa.jpg" style="float:left; max-width: 120px; display: inline" alt="INSA"/></a> 
</center>

# [Projet machine learning](Projet-ML)

## Objectifs : 
<span style="color:  rgb(139, 0, 0)">**Notre projet consiste à analyser et faire des prédictions sur un jeu de données qui fournit un aperçu détaillé des routines d’exercice, des attributs physiques et des mesures de la condition physique des membres d’une salle de sport. Il y a deux objectifs principales pour ce projet :  Le premier objectif est de faire une analyse exploratoire des données pour bien cerner nos données. Dans un second temps, on effectuera deux modélisations avec la prédiction de calories brulées et du niveau d'expérience.**</span>

## Table des matières
1. [Analyse explorative des données (langage R)](#analyse-données)
   - Description général (natures des variables, encodages ...)
   - Analyse descriptive unidimensionnelle et bidimensionnelle
   - ACP des différentes variables
2. [Modélisation (langage R et python)](#modélisation)
   - Prédiction des calories brulées
   - Prédiction du niveau d'expérience
## Analyse explorative des donées (langage R)
Cette partie se fera uniquement en R.

In [3]:
#Variables explicatives
################Variables qualitatives
dataDum=pd.get_dummies(data[["Gender","Workout_Type","Workout_Frequency (days/week)","Experience_Level"]]) 
# pour transformer des variables qualitatives en variables indicatrices, 
# chaque valeur unique de la variable qualitative devient une colonne distincte dans le DataFrame résultant

################Variables quantitatives
dataQuant=data[["Age","Weight (kg)","Height (m)","Max_BPM","Avg_BPM","Resting_BPM","Session_Duration (hours)","Fat_Percentage","Water_Intake (liters)","BMI"]] #Varaibles quanti

data=pd.read_csv("gym_members_exercise_tracking.csv",sep=",",header=0)
data.head()

   Gender_Female  Gender_Male  Workout_Type_Cardio  Workout_Type_HIIT  \
0          False         True                False              False
1           True        False                False               True
2           True        False                 True              False
3          False         True                False              False
4          False         True                False              False

   Workout_Type_Strength  Workout_Type_Yoga  Workout_Frequency (days/week)_2  \
0                  False               True                            False
1                  False              False                            False
2                  False              False                            False
3                   True              False                            False
4                   True              False                            False

   Workout_Frequency (days/week)_3  Workout_Frequency (days/week)_4  \
0                            False                             True
1                            False                             True
2                            False                             True
3                             True                            False
4                             True                            False

   Workout_Frequency (days/week)_5  ...  Age  Weight (kg)  Height (m)  \
0                            False  ...   56         88.3        1.71
1                            False  ...   46         74.9        1.53
2                            False  ...   32         68.1        1.66
3                            False  ...   25         53.2        1.70
4                            False  ...   38         46.1        1.79

   Max_BPM  Avg_BPM  Resting_BPM  Session_Duration (hours)  Fat_Percentage  \
0      180      157           60                      1.69            12.6
1      179      151           66                      1.30            33.9
2      167      122           54                      1.11            33.4
3      190      164           56                      0.59            28.8
4      188      158           68                      0.64            29.2

   Water_Intake (liters)    BMI
0                    3.5  30.20
1                    2.1  32.00
2                    2.3  24.71
3                    2.1  18.41
4                    2.8  14.39

[5 rows x 23 columns]

## Modélisation (langage python)